{% extends 'base.html' %}
{% load static %}

{% block title %}Карта компаний{% endblock %}

{% block content %}
{% include 'includes/page_header.html' with title='Карта компаний' show_back_button=True %}

<div class="section">
    {% if error %}
        {% include 'includes/alert.html' with alert_type='error' message=error %}
    {% else %}
        <div id="map" 
             style="width: 100%; height: 75vh;"
             data-api-key="{{ yandex_api_key }}"
             data-companies='{{ companies_json|escapejs }}'>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
{% if not error %}
<script src="{% static 'js/companies_map.js' %}"></script>
{% endif %}
{% endblock %}